.menu-result {
    width: 224px;
    padding: 10px 5px;
}

.menu-btn {
    cursor: pointer;
    padding: 10px 10px;
    height: 42px;

    .item-btn {
        font-size: 1.5rem;
        font-weight: 400;
        background-color: transparent;
        color: var(--primary-black);
        display: block;

        svg {
            padding: 0px 5px;
        }
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

// header menu css
.header {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;

    .back-language {
        background-color: transparent;
        width: 50px;
        height: 100%;
    }

    .title-language {
        position: absolute;
        left: 70px;
        top: 10px;
        font-size: 16px;
        font-weight: 600;
    }
}
